.room__item{
  width: 100%;
    padding: 20px 40px;
    margin: 20px 0 ;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: baseline;
  }
  .create__button{
    width: 100%;
  }

.join__button{
  margin: -20px 0 0 20px;
}

.start__button{
  margin: -20px 0 0 10px;
}
