.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.App header {
  padding: 40px 0;

}
.page-wrapper{
  display: flex;
  align-items: center;
}
